<section id="login-page" class="mb-5 mt-5">

    <div class="container">
  
      <h3 style="text-align:center;">MAXSTORE BACKEND</h3>
  
      <div class="row">
        <div class="col">          
          <form (ngSubmit)="onLogin()">
            
            <div class="form-group">
              <label>Email</label>
              <input type="email" name="email" [(ngModel)]="email" class="form-control">
            </div>
  
            <div class="form-group">
              <label>Password</label>
              <input type="password" name="password" [(ngModel)]="password" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-lg btn-secondary btn-block">Login</button>
            </div>
  
            
  
          </form>
        </div>
      </div>
  
    </div>
  </section>