<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h4 class="page-title">Add Zone</h4>
        </div>
        <div class="col-md-10">
            <button class="btn btn-success" [routerLink]="['/tabs/zones']">Zones</button>
        </div>

    </div>
    <form (submit)="onCityEditSubmit()">
        <div class="form-group">
            <label>City Name</label>
            <input class="form-control" type="text" [(ngModel)]="cityName" name="cityName" required>
        </div>

        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" name="status" id="status" [(ngModel)]="status" name = "status">
                <option value="active">Active</option>
                <option value="inactive">InActive</option>
            </select>
        </div>

        <div class="form-group">
            <label for="fee">Shipping Charges </label>
            <input type="number" class="form-control" id="fee" [(ngModel)]="shippingfee" name ="shippingfee"
                placeholder="Shipping Charges">
        </div>

        <input type="submit" value="submit" class="btn btn-success">
    </form>
    </div>