<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul class="nav"> 
                <li class="nav-item">
                    <a class="nav-link" href="https://www.kreate-soft.com">
                        KREATE
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright ml-auto">
            2020, made with <i class="la la-heart heart text-danger"></i> by <a href="http://www.kreate-soft.com">KREATE</a>
        </div>				
    </div>
</footer>