<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 class="page-title float-left">Users</h4>
            <button [routerLink]="['/tabs/register']" class="btn btn-success float-right">+ Add New</button>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header ">
                <h4 class="card-title">All Users</h4>
            </div>
            <div class="card-body">
                <table class="table table-responsive table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <!-- <th scope="col">Photo</th> -->
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Vendor</th>
                            <th scope="col">Vendor Details</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of users | filter: searchText : ['displayName', 'email', 'phone'];index as i">
                            <td>{{i + 1}}</td>
                            <!-- <td>
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSJkiQJsOqf2Gx3tScryPR3Vlm5g-jRX2vZVkChfh14UoWfwh3y&usqp=CAU"
                                    style="width: 50px;height: 50px; border-radius: 100px; object-fit: cover;"></td> -->
                            <td>{{item.displayName}}</td>
                            <td *ngIf="item.phone">{{item.phone}}</td>
                            <td *ngIf="!item.phone"></td>
                            <td>{{item.email}}</td>
                            <td>{{item.roles?.admin ? 'admin' : item.roles?.vendor ? 'vendor' : item.roles?.buyer ? 'buyer' : '' }}
                            </td>
                            <td>{{item.ven_name}}</td>
                            <td>
                                {{item?.vendor?.phone1}}<br> {{item?.vendor?.email}}
                                <br> {{item?.vendor?.status}}
                            </td>
                            <td *ngIf="!item.status"></td>
                            <td *ngIf="item.status">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        {{item.status}}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                        <a class="dropdown-item" href="#">Active</a>
                                        <a class="dropdown-item" href="#"> InActive</a>
                                    </ul>
                                </div>
                            </td>
                            <td style="display: inline;">
                                <i [routerLink]="['/tabs/edit-user/'+item.$key]" class="la la-edit" style="    font-size: 25px;
                                                    line-height: 70px;"></i>
                                <!-- <i (click)="deleteUser(item.$key)" class="la la-times-circle-o" style="    font-size: 25px;
                                                    line-height: 70px;"></i> -->
                            </td>
                        </tr>


                        <!-- looping rows -->


                        <!-- end looping rows -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>