<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 class="page-title float-right">Products</h4>
            <button [routerLink]="['/tabs/add-product']" class="btn btn-success float-left">+ Add New</button>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header ">
                <h4 class="card-title">All Products</h4>
            </div>
            <div class="card-body">
                <table class="table table-responsive table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Photo</th>
                            <th scope="col">Name</th>
                            <th scope="col">Vendor</th>
                            <th scope="col">Price</th>
                            <th scope="col">Sale Price</th>
                            <th scope="col">New / Featured</th>
                            <th scope="col">Category</th>
                            <th scope="col">Status</th>
                            <th scope="col">Created At</th>
                            <th scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products | orderBy: order:reverse  | filter: searchText : ['name'];index as i">
                            <td>{{i + 1}}</td>
                            <td><img [src]="item.image_firebase_url" style="width: 50px;
                                    height: 50px;
                                    border-radius: 100px;
                                    object-fit: cover;"></td>
                            <td>{{item.name}}</td>
                            <td>{{getvendorName(item.vendor)}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item?.saleprice}}</td>
                            <td>{{item.feature}}</td>
                            <td>{{getCategoryName(item.sub_category)}} - {{getCategoryName(item.categories)}}
                            </td>
                            <td *ngIf="!isVendor">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        {{item.status}}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                        <a class="dropdown-item" (click)="updateProductStatus(item.$key,'Active')">Active</a>
                                        <a class="dropdown-item" (click)="updateProductStatus(item.$key,'InActive')"> InActive</a>
                                    </ul>
                                </div>
                            </td>
                            <td *ngIf="isVendor"> {{ item.status }} </td>
                            <td>{{ randomDate(item.created_at) | date}}</td>
                            <td style="display: inline-table;">
                                <i [routerLink]="['/tabs/product-details/'+item.$key]" class="la la-info-circle" style="font-size: 25px; line-height: 70px;"></i>
                                <i [routerLink]="['/tabs/edit-product/'+item.$key]" class="la la-edit" style="font-size: 25px;line-height: 70px;"></i>
                                <i (click)="deleteItem(item.$key)" class="la la-times-circle-o" style="font-size: 25px;line-height: 70px;"></i>

                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>