<div class="container-fluid">
    <div class="row">
        <div class="col col-6" style="text-align: left;">
            <h4 class="page-title">Order Details <small>24-06-2020</small></h4>
        </div>
        <div class="col col-6" style="text-align: right;">
            <h6><span style="opacity: 0.35;">Status :</span> {{order?.status}}</h6>
        </div>
    </div>

    <div *ngIf="order" class="row" style="margin-bottom: 25px;background-color: white;     border-radius: 10px;
                    margin: 2px;">
        <span class="col col-3 order-header-cell">{{order.name}} <br> {{order.contactNumber}}</span>
        <span class="col col-3 order-header-cell">Address <br> {{getCityName(order.city)}}
            {{ getDistrictName(order.district)}} </span>
        <span class="col col-3 order-header-cell">Note <br> {{order.address}}</span>
        <span class="col col-3 order-header-cell">Shipping <br> {{order.shipping}} IQD</span>

    </div>

    <div *ngIf="isAdmin && order" class="row" style="margin-bottom: 25px;background-color: white;     border-radius: 10px;
    margin: 2px;">
        <span *ngFor="let item of order.vendors" class="col col-3 order-header-cell">{{item.status}} <br>
            {{getVendorName(item.vendor_id)}}</span>
    </div>
    <!-- بداية الايتم الجديد -->

    <div *ngIf="order" class="card">
        <div class="card-header ">
            <div class="row">
                <div class="col col-6" style="text-align: left;">
                    <h5 class="card-title">Cart Details</h5>
                    <h6 class="card-title"><span style="opacity: 0.35;">Products Ordered :</span> {{order.items.length}}
                    </h6>
                </div>
                <div class="col col-6" style="text-align: right;">

                    <div *ngIf="!isVendor" class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            {{order.status}}
                        </button>
                        <ul *ngIf="!isVendor" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                            <a class="dropdown-item" (click)="updateAdminOrderStatus('Pending')">Pending</a>
                            <a class="dropdown-item" (click)="updateAdminOrderStatus('Processing')">Processing</a>
                            <a class="dropdown-item" (click)="updateAdminOrderStatus('Rejected')">Rejected</a>
                            <a class="dropdown-item" (click)="updateAdminOrderStatus('Approved')"> Approved</a>
                            <a class="dropdown-item" (click)="updateAdminOrderStatus('Delivered')">Delivered</a>
                            <a class="dropdown-item" (click)="updateAdminOrderStatus('Completed')">Completed</a>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
        <div class="card-body">
            <table class="table table-responsive table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col" *ngIf="isAdmin">Vendor</th>
                        <th scope="col">Image</th>
                        <th scope="col">Product</th>
                        <th scope="col">Color</th>
                        <th scope="col">Size</th>
                        <th scope="col">Price</th>
                        <th scope="col">Available</th>
                        <th scope="col">Category</th>
                        <th scope="col">Status</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items; index as i">
                        <td *ngIf="isAdmin">{{getVendorName(item?.vendor)}}</td>
                        <td><img class="item-img" src="{{item.image_firebase_url}}"></td>
                        <td>{{item?.name}}</td>
                        <td>{{item?.selectedColor}}</td>
                        <td>{{item?.selectedSize}}</td>
                        <td>{{ item?.price }}</td>
                        <td>{{item?.available}}</td>
                        <td>{{getCategoryName(item?.categories)}}</td>
                        <td>
                            <div *ngIf="!isVendor">{{getItemVendorStatus(item.vendor)}}</div>
                            <div *ngIf="isVendor" class="dropdown">
                                <button *ngIf="isIndex" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                    {{order.vendors[index].status}}
                                </button>
                                <ul *ngIf="isVendor" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <a class="dropdown-item" (click)="updateVendorOrderStatus( item, 'Pending')">Pending</a>
                                    <a class="dropdown-item" (click)="updateVendorOrderStatus( item, 'Processing')">Processing</a>
                                    <a class="dropdown-item" (click)="updateVendorOrderStatus( item, 'Rejected')">Rejected</a>
                                    <a class="dropdown-item" (click)="updateVendorOrderStatus( item, 'Approved')"> Approved</a>
                                    <a class="dropdown-item" (click)="updateVendorOrderStatus( item, 'Delivered')">Delivered</a>
                                    <a class="dropdown-item" (click)="updateVendorOrderStatus( item, 'Completed')">Completed</a>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- نهاية الايتم الجديد -->


</div>