<li [hidden]="isVendor" class="nav-item" [routerLink]="[ Item['link'] ]" routerLinkActive="active">
    <a>
        <i class="la {{Item.icon}}"></i>
        <p>{{Item.name}}</p>
        <span *ngIf="count !== -1" class="badge badge-count">{{count}}</span>
    </a>
</li>