<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h4 class="page-title">Edit Product</h4>
        </div>
        <div class="col-md-10">
            <button class="btn btn-success" [routerLink]="['/tabs/products']">Products</button>
        </div>

    </div>

    <form (ngSubmit)="onItemEditSubmit()">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" [(ngModel)]="name" name="name" required>
        </div>

        <div class="form-group">

            <label>Sort</label>
            <input class="form-control" type="number" name="sort" [(ngModel)]="sort" required>

        </div>

        <div class="form-row">

            <div class="col">
                <div class="form-group">

                    <label>Category</label>
                    <select class="form-control" type="text" [(ngModel)]="categories" name="categories" required (change)="setParentCategory(categories)">
            <option *ngFor="let category of categoryList" [value]="category.$key">{{category.cat_name}}</option>
          </select>
                </div>

            </div>

            <div class="col">

                <div class="form-group">
                    <label>Sub Category</label>
                    <select class="form-control" type="text" [(ngModel)]="sub_category" name="sub_category">
            <option *ngFor="let category of sub_categoryList" [value]="category.$key">{{category.cat_name}}
            </option>
          </select>
                </div>

            </div>

        </div>



        <div *ngIf="!isVendor" class="form-group">

            <label>Vendor</label>
            <ngx-select-dropdown (change)="selectionChanged($event)" name="ven_key" [(ngModel)]="vendor" [config]="config" [options]="vendorList">
            </ngx-select-dropdown>

        </div>

        <div class="form-group">
            <label>Description</label>
            <input class="form-control" type="text" [(ngModel)]="description" name="description" required>
        </div>

        <div class="form-group">
            <label>Availability</label>
            <select class="form-control" [(ngModel)]="available" name="available" required>
        <option value="ava">Available</option>
        <option value="notava">Not Available</option>
      </select>
        </div>

        <div *ngIf="!isVendor" class="form-group">
            <label>Featured</label>
            <select class="form-control" [(ngModel)]="feature" name="feature" required>
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
        </div>

        <div *ngIf="!isVendor" class="form-group">
            <label>New Arrival</label>
            <select class="form-control" [(ngModel)]="new_arrival" name="new_arrival" required>
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
        </div>
        <!---
        <div class="form-group">
          <input id="image" name="image" [(ngModel)]="image" type="file" >
        </div>
        -->
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Price</label>
                    <input class="form-control" type="text" [(ngModel)]="price" name="price" required>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label>Stock</label>
                    <input class="form-control" type="text" [(ngModel)]="stock" name="stock" required>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label>Sale Price</label>
                    <input class="form-control" type="text" [(ngModel)]="saleprice" name="saleprice" required>
                </div>
            </div>

        </div>

        <div class="form-row">

            <div class="col-11">
                <div class="form-group">
                    <label>Colour</label>
                    <input class="form-control" type="text" name="color" [(ngModel)]="color">
                </div>
            </div>

            <div class="col-1">
                <a class="left" (click)="addColor(color)"><i class="add la la-plus"></i></a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <span class="show-colors" *ngFor="let color of colors;let i = index">
          <i (click)="removeColor(i)" class="remove la la-minus"></i>
          {{color}} ,
        </span>
            </div>
        </div>

        <div class="form-row">

            <div class="col-11">
                <div class="form-group">
                    <label>Sizes</label>
                    <input class="form-control" type="text" name="color" [(ngModel)]="size">
                </div>
            </div>

            <div class="col-1">
                <a class="left" (click)="addSize(size)"><i class="add la la-plus"></i></a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <span class="show-colors" *ngFor="let size of sizes;let i = index">
          <i (click)="removeSize(i)" class="remove la la-minus"></i>
          {{size}} ,
        </span>
            </div>
        </div>
        <!--Image-->
        <div class="form-group" *ngIf="!isImage">

            <img style="width:25%;height:150px;" class="thumbnail" src="{{image_firebase_url}}">


        </div>

        <div class="form-group" *ngIf="isImage">

            <img style="width:25%;height:150px;" class="thumbnail" src="{{this.inputImageUser.nativeElement.value}}">


        </div>

        <hr>
        <div class="form-group">
            <h5>Select image:</h5>
            <input type="file" accept=".png, .jpg" (change)="onUpload($event)">
        </div>
        <div class="progress">
            <div [style.visibility]="(uploadPercent) ? 'hidden' : 'visible'" class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent | async) +'%'">

            </div>
        </div>
        <br>
        <input #imageUser type="hidden" [value]="urlImage | async">

        <input type="submit" value="submit" class="btn btn-success">
    </form>
</div>