.review-box {
    background-color: #ffffff;
    border-radius: 15px;
    margin: 10px 25px 15px 25px;

    h4 {
        margin:5px 0px 5px 0px;
    }

    span {
        font-size: 22px;
        text-align: left;
        i {
            font-size: 22px;
        }
    }
}
