<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 class="page-title">Orders</h4>
        </div>

    </div>
    <div class="row">
        <div class="card">
            <div class="card-header ">
                <h4 class="card-title">Latest Orders</h4>
            </div>
            <div class="card-body">
                <table class="table table-responsive table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" (click)="setOrder('createdAt')">Date</th>
                            <th scope="col" (click)="setOrder('profile_name')">Name</th>
                            <th scope="col" (click)="setOrder('contactNumber')">Phone</th>
                            <th scope="col" (click)="setOrder('zone')">City</th>
                            <th scope="col" (click)="setOrder('subzone')">District</th>
                            <th scope="col">Notes</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col" (click)="setOrder('shipping')">Shipping</th>
                            <th scope="col" (click)="setOrder('total')">Total</th>
                            <th scope="col" (click)="setOrder('status')">Status</th>
                            <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of orders  | orderBy: order:reverse | filter: searchText : ['profile_name', 'contactNumber', 'address']; index as i">
                            <td>{{i + 1}}</td>
                            <td>{{item.createdAt | date}}</td>
                            <td>{{item.profile_name}}</td>
                            <td>{{item.contactNumber}}</td>
                            <td>{{getZoneName(item.zone)}}</td>
                            <td>{{getSubZoneName(item.subzone)}}</td>
                            <td>{{item.address}}</td>
                            <td>{{item.total - item.shipping}}</td>
                            <td>{{item.shipping}}</td>
                            <td>{{item.total}}</td>
                            <td>{{item.status}}</td>
                            <td><button class="btn btn-primary" [routerLink]="'/tabs/order-detail/'+item.$key">View</button>
                            </td>


                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>